<div>
    <sly-field title="Pointcloud data: `Pointcloud2` topic (sensor_msgs/PointCloud2)">
        <sly-icon slot="icon" :options="{ color: '#4977ff', bgColor: '#ddf2ff', rounded: false }">
            <i class="zmdi zmdi-view-comfy"></i>
        </sly-icon> 
    </sly-field>
    <sly-field title="Annotations: `SlyAnnotations` topic (select message type below)">
        <sly-icon slot="icon" :options="{ color: '#4977ff', bgColor: '#ddf2ff', rounded: false }">
            <i class="zmdi zmdi-select-all"></i>
        </sly-icon>
 
    </sly-field>
        <div style="margin-left: 35px">Specify whether to transform all annotations in Pointcloud2 object or preserve vector coordinates in the output message for further importing them to Supervisely as annotations: XYZ for center point, pitch-roll-yaw for rotation, and WHL sizes</div>

        <div class="fflex" style="flex-direction: column; align-items: start; margin: 5px 35px" >
            <el-radio-group v-model="state.annMode">
                <el-radio style="margin: 5px" label="sly"><code><strong>geometry_msgs/Vector3Stamped</strong></code> – allow to import annotations back to Supervisely</el-radio>
                <el-radio style="margin: 5px" label="cloud"><code><strong>sensor_msgs/PointCloud2</strong></code> – transform all annotations to Pointcloud2 message</el-radio>
            </el-radio-group>
        </div>
        
        <div class="fflex" style="flex-direction: column; align-items: start; font-weight: 500; font-size: 14px; margin-left: 65px" v-if="state.annMode === 'cloud'">
          <el-checkbox v-model="state.mergeMode" style="margin: 5px">
              <b style="padding: 5px">Merge all objects with pointclouds into one message </b>
          </el-checkbox>
          <el-checkbox v-model="state.fillPoints" style="margin: 5px">
              <b style="padding: 5px;">Fill Cuboid3D object edges with points to make them more visible %</b>
          </el-checkbox>
          <el-input-number v-if="state.fillPoints" class="mr10"  style="margin-left: 35px" v-model="state.fillRate" :min="1" :max="100" size="small"></el-input-number> 
        </div>
</div>